body {
  background-image: url("https://i.namu.wiki/i/eThT8CYFzrGi-QEREijNJdiceYKYXYjArupDY07S2Gxlo0CZDO2cQyWWnDXHfqemvizFtSh0SRScxaIpKR-xZA.gif");
  background-size: cover;
  background-position: center;
}

body {
  background-color: black;
  color: white;
  font-weight: bold;
}

/* 그리드 설계 */
.grid-1 {
  display: grid;
  width: 90vw;
  max-width: 900px;
  margin: 7% auto;
  z-index: 1;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 600px;
  grid-gap: 25px;

}


@media only screen and (min-width: 500px) {

  .grid-1 {
    /* 너비를 기준으로 높이를 계산 */
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:

      "t     t         t       t      t        t "
      "d1    d1        d2      d2      d5     d5"
      "d1    d1        d2      d2      d5     d5"
      "d3    d3        d4      d4      d5     d5"
      "d3    d3        d4      d4      d5     d5";
  }

}

/* flex 속성 */
.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.item-baseline {
  align-items: baseline;
}

.title {
  display: flex;
  align-items: baseline;
  justify-content: center;

  grid-area: t;
}

.title img {
  width: 100%;
  height: auto;
}

/* 그리드 별 배경 이미지 */
.day-1 {
  grid-area: d1;
  background: url("고양1.jpg");
  background-position: center;
  background-size: cover;
}

.day-1 .back {
  background-image: url("고양1.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

/* Repeat this block for day-2 to day-24 */
.day-2 {
  grid-area: d2;
  background: url("고양4.webp");
  background-position: center;
  background-size: cover;
}

.day-2 .back {
  background-image: url("image/card/card-2.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.day-3 {
  grid-area: d3;
  background: url("고양5.jpg");
  background-position: center;
  background-size: cover;

}

.day-3 .back {
  background-image: url("image/card/card-3.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.day-4 {
  grid-area: d4;
  background: url("고양6.jpg");
  background-position: center;
  background-size: cover;

}

.day-4 .back {
  background-image: url("image/card/card-4.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.day-5 {
  grid-area: d5;
  background: url("https://i.kym-cdn.com/photos/images/newsfeed/002/681/863/ede.gif");
  background-position: center;
  background-size: cover;

}

.day-5 .back {
  background-image: url("image/card/card-5.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

/* door styles */
.grid-1 input {
  display: none;
}

label {
  perspective: 1000px;
  transform-style: preserve-3d;
  cursor: pointer;

  display: flex;
  min-height: 100%;
  width: 100%;
  height: 120px;
}

/* flex 속성 */
.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.item-baseline {
  align-items: baseline;
}

.title {
  display: flex;
  align-items: baseline;
  justify-content: center;

  grid-area: t;
}

.title img {
  width: 100%;
  height: auto;
}


/* 그리드 별 배경 이미지 */
.day-1 {
  grid-area: d1;
  background: url("https://media.tenor.com/ZdsIbPaZn64AAAAM/verycat-cateat.gif");
  background-position: center;
  background-size: cover;

}

.day-1 .back {
  background-image: url("고양1.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.day-2 {
  grid-area: d2;
  background: url("https://media.tenor.com/_yChFhAOeBgAAAAC/cat-cat-v-axere.gif");
  background-position: center;
  background-size: cover;

}

.day-2 .back {
  background-image: url("image/card/card-19.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.day-3 {
  grid-area: d3;
  background: url("https://c.tenor.com/ShqRkUv63pAAAAAC/cat-vibing-vibing-cat.gif");
  background-position: center;
  background-size: cover;

}

.day-3 .back {
  background-image: url("image/card/card-3.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.day-4 {
  grid-area: d4;
  background: url("https://media3.giphy.com/media/MDJ9IbxxvDUQM/200w.gif?cid=6c09b952l0zy2ktxv5ysmkuqkleoce1zcxeyfyox397vlzbk&ep=v1_gifs_search&rid=200w.gif&ct=g");
  background-position: center;
  background-size: cover;

}

.day-4 .back {
  background-image: url("image/card/card-4.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.day-5 {
  grid-area: d5;
  background: url("https://i.kym-cdn.com/photos/images/newsfeed/002/681/863/ede.gif");
  background-position: center;
  background-size: cover;

}

.day-5 .back {
  background-image: url("image/card/card-5.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}


/* door styles */
.grid-1 input {
  display: none;
}

label {
  perspective: 1000px;
  transform-style: preserve-3d;
  cursor: pointer;

  display: flex;
  min-height: 100%;
  width: 100%;
  height: 120px;
}

/* 카드 앞면 */
.door {
  width: 100%;
  transform-style: preserve-3d;
  transition: all 300ms;
  border-radius: 10px;
}

.date-num {
  position: absolute;
  top: 5px;
  left: 12px;
  color: white;
}

/* 카드 뒷면 */
.door div {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;

  border-radius: 6px;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}

/* 카드 뒤집기 애니메이션 */
.door .back {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}

:checked+.door {
  transform: rotateY(180deg);
}

/* 확대 및 회전 애니메이션 */
@keyframes zoomAndRotate {
  from {
    transform: scale(0) rotateY(0deg);
  }

  to {
    transform: scale(1) rotateY(360deg);
  }
}

/* 애니메이션 적용 */
.zoomIn {
  animation: zoomAndRotate 0.5s ease forwards;
}


.hidden {
  visibility: hidden;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal-content {
  width: 340px;
  height: 347px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 이미지와 텍스트가 있는 카드를 위한 스타일 */
.modal-content div {
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

.modal-content p {
  width: 300px;
  color: black;
  margin-top: 30px;
  margin-bottom: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: bold;
  font-size: 17px;
  word-break: keep-all;
}

#studyButton {
  display: none;
}
